<a class="project" {% if include.url %}href="{{include.url}}"{% endif %}>
	<span>{{include.name}}</span>
	<div class="proj_bg" style="background-color: {{include.bgColor}}">
		<div class="hex_wrap">
			<div class="hexagon" style="background-image: url(https://media.githubusercontent.com/media/ryanstull/ryanstull.github.io/master{{ include.bgImage }}?raw=true)">
				<div class="face1"></div>
				<div class="face2"></div>
			</div>
		</div>
		<div class="proj_desc">
			{{include.desc}}
		</div>
	</div>
</a>