@import "templates/_hexagon";

#eye_context {
	.proj_bg {
		background-color: #fb8821;
		.hexagon {
			background-image: url("/images/projects/eyecon.png");
		}
	}
}

#text_cleanser {
	.proj_bg {
		background-color: #315479;
		.hexagon {
			background-image: url("/images/projects/filter.png");
		}
	}
}

#groovy_alg {
	.proj_bg {
		background-color: #46a4c7;
		.hexagon {
			background-image: url("/images/projects/groovy_alg.png");
		}
	}
}

#mat_track {
	.proj_bg {
		background-color: firebrick;
		.hexagon {
			background-image: url("/images/projects/mat_track.png");
		}
	}
}

#renown {
	.proj_bg {
		background-color: rgb(129, 134, 219);
		.hexagon {
			background-image: url("/images/projects/renown.png");
		}
	}
}

#greenhouse {
	#greenhouse_name {
		font-size: 1.8rem;

	}
	.proj_bg {
		background-color: rgb(125, 219, 133);
		.hexagon {
			background-image: url("/images/projects/photon_dist.png");
		}
	}
}