
.highlight {
	position: relative;
}

code {
	&::before {
		content: attr(data-lang);
		position: absolute;
		box-sizing: inherit;
		top: -1em;
		//left: .2rem;
		right: 1em;
		font-size: .75em;
		color: coral;
		background-color: white;
		border-radius: 5px;
		padding: 2px;
		border: solid 1px #c9c9c9;
		text-transform: uppercase;
	}

	padding-top: 1em;
}



.PageNavigation {
	font-size: 17px;
	display: block;
	width: auto;
	//overflow: hidden;
	//white-space: nowrap;

	a {
		display: block;
		width: 50%;
		float: left;
		margin: 1em 0;
	}

	.prev {
		float: left;
		text-align: left;
	}

	.next {
		float: right;
		text-align: right;
	}

	.next:hover {
		span{
			text-decoration: underline;
		}
	}
	.prev:hover {
		span{
			text-decoration: underline;
		}
	}
}

summary {
	cursor: pointer;
}

iframe.youtube {
	@media (min-width: 600px) {
		width: 560px;
	}

	@media (max-width: 600px) {
		width: 100%;
	}
}

th {
	text-align: center;
}

td {
	text-align: center;
}