.projects {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	@import "templates/construction";
	@import "templates/hexagon";

	.project {
		display: flex;
		flex: 0 0 18rem;
		flex-direction: column;
		text-decoration: none;
		position: relative;
		margin: 2rem .1rem .5rem .1rem;

		span {
			display: flex;
			color: black;
			justify-content: flex-end;
			font-family: $nameFont;
			font-size: 1.8rem;
			margin-bottom: -.2rem;
			min-height: 3rem;
		}

		.hex_wrap {
			margin-left: .3rem;
			min-width: 8.33rem;
		}

		.proj_bg {
			display: flex;
			align-items: center;
			height: 6.5rem;
		}

		.proj_desc {
			height: 5.5rem;
			width: 10em;
			font-family: $textFont;
			font-size: .75rem;
			position: absolute;
			right: 0;
			color: white;

			ul {
				padding-left: 1rem;
			}
		}
	}
}

.hexagon {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.face1 {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.face2 {
	border-left: 1px solid black;
	border-right: 1px solid black;
}